[package]
name = "get-host-ip"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
iconv = "0.1.1"
regex = "1.8.1"

[profile.release]
panic = "abort"